/* This class is part of the XP framework
 *
 * $Id$ 
 */

/**
 * (Insert class' description here)
 *
 * @see      reference
 */
public class <Class> extends util.cmd.Command {

  /**
   * Entry point method
   *
   */
  public void run() {
    
  }
}
