/* This class is part of the XP framework
 *
 * $Id$ 
 */

import unittest.TestCase;
import unittest.AssertionFailedError;
import unittest.PrerequisitesNotMetError;

/**
 * (Insert class' description here)
 *
 * @see      reference
 */
public class <Class> extends TestCase {

  /**
   * Sets up this test case
   *
   */
  public void setUp() throws AssertionFailedError, PrerequisitesNotMetError {
  }

  /**
   * Tears down this test case
   *
   */
  public void tearDown() {
  }

  /**
   * (Insert test's description here) 
   *
   */
  [@test]
  public void *() {
  
  }
}
