/* Stylesheet for xp website (home page)
 *
 * $Id$
 */

td, p, ul { 
  font: 12px "Tahoma", "Verdana", "Arial", sans-serif; 
  line-height: 18px;
}
h1 { 
  font: 20px "Lucida Grande", "Verdana", "Arial", sans-serif;
  color: #666666;
  letter-spacing: 4px;
}
h2 { 
  font: 18px "Lucida Grande", "Verdana", "Arial", sans-serif;
  color: #666666;
  letter-spacing: 2px;
}
h2.date {
  font: bold 16px "Georgia", serif;
  letter-spacing: 0px;
  margin: 2px;
}
h3 { 
  font: bold 13px "Lucida Grande", "Verdana", "Arial", sans-serif;
  color: #666666;
  letter-spacing: 1px;
  border-bottom: 1px solid #a4b6c5;  
}
h4 { 
  font: bold 13px "Lucida Grande", "Verdana", "Arial", sans-serif;
}
h4.context { 
  font: bold 13px "Lucida Grande", "Verdana", "Arial", sans-serif;
  text-align: right; 
  border-bottom: 1px solid #666666; 
}
em { 
  font: 13px "Georgia", serif;
}
a { 
  color: #1c375c; 
}
small {
  font: 13px "Georgia", serif;
}
q {
  color: #245598;
}
ul {
  list-style-type: square;
  list-style-image: url(image/li.gif);
  line-height: 18px;
}
td.navactive { 
  padding-left: 8px; 
  padding-right: 8px; 
  background-color: #a4b6c5; 
  border-top: 1px solid #a4b6c5; 
  border-bottom: 1px solid #a4b6c5; 
}
td.nav { 
  padding-left: 8px; 
  padding-right: 8px; 
  background-color: #d5e2ee; 
  border-top: 1px solid #a4b6c5; 
  border-bottom: 1px solid #a4b6c5; 
}
a.navactive { 
  font: bold 11px "Tahoma"; color: white; 
}
a.nav { 
  font: bold 11px "Tahoma"; color: black; 
}
input.search { 
  height: 18px; 
  border: 1px solid #000099; 
}
ul.context {
  padding-left: 22px;
}
table.footer {
  border-top: 1px solid #a4b6c5;
}
table.intro {
  border: 1px solid #6a8dbd;
  background-image: url(image/bg_striped.gif);
}
ul.intro {
  font: bold 13px "Tahoma";
  list-style-image: url(image/dot.gif);
  line-height: 18px;
}
hr {
  border: 0;
  background-color: #6c599b;
  color: #6c599b;
  height: 1px;
}

/* News specific */
.entry {
  border: 1px solid #a9a9a9;
  border-left: 3px solid #94a6d6;
  padding: 10px;
  padding-top: 0px;
  display: block;
}
.entry h3 {
  background: url(/image/icons/entry.png) white;
  background-position: left center; 
  background-repeat: no-repeat;
  padding-left: 20px;
}
div.comment {
  border: 1px solid #a9a9a9;
  border-left: 3px solid #aaaaaa;
  padding: 10px;
  padding-top: 0px;
  display: block;
  background: url(/image/icons/comment.gif) white;
  background-position: 4px 4px; 
  background-repeat: no-repeat;
}

/* Syntax */
pre.code {
  font: 12px "Courier New", courier;
  margin-bottom: 0px;
  margin-top: 0px;
}
pre.code .keyword {
  color: #990000;
  font-weight: bold;
}
pre.code .variable {
  color: #000099;
  font-weight: bold;
}
pre.code .bracket {
  color: #a90000;
}
pre.code .string {
  color: #0000a9;
}
pre.code .comment {
  color: #a9a9a9;
}

/* Calendar */
table.calendar {
  font: 11px "Verdana"; 
  border: 1px solid #cedbf7;
}
.calendar td {
  font: 11px "Verdana"; 
  color: #666666;
}
.calendar td.entries {
  background-color: #ffcf00;
  color: #444444;
}
.calendar td.weekend {
  background-color: #fff4be;
}
.calendar td.header {
  font-weight: bold;
  background-color: #cedbf7;
}
.calendar th {
  background-color: #848ebd;
}
a.calendar {
  color: #fefefe;
  text-decoration: none;
}

/* Examples */
div.example {
  border: 1px solid #cecece;
  border-left: 3px solid #cecece;
  padding: 2px;
}
div.cvsver {
  font: 12px "Courier New", courier;
  border: 1px solid #cecece;
  padding: 2px;  
}
