; $Id$
; This is a sample prj.ini for ProjectManager
; This file must be located in $HOME/.prj.ini

; Section main contains settings for the application itself
[main]
autocheck=60          ; check every x seconds if file has changed

; Section editor contains information needed for your editor
; The command gets sprintf()ed, first parameter is
; %d => line in the file
; %s => filename
; Commands are executed with appended '1>/dev/null 2>/dev/null &'
; which is without STDIN, STDOUT and in background
[editor]
cmdline="nclient -noask -line %d %s"

; Samples:
; cmdline="nedit -line %d %s"           ; Default nedit command
; cmdline="nclient -noask -line %d %s"  ; Run nedit through its client/server call model
; cmdline="xterm -e 'vim +%d %s'"       ; Run vim through a new xterm
; cmdline="gvim +%d %s"                 ; Run gvim (untested)
; cmdline="emacs %d %s"                 ; Emacs (untested)
