ul {
    list-style-type: square;
    list-style-image: url(/image/icn_li.gif);
    line-height: 16px;
}

ul.nav {
    list-style-type: square;
    list-style-image: url(/image/box-0.gif);
    padding-left: 22px;
}

body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

em {
	font-weight: bold;
	font-style: italic;
}

quote {
    color: #6666cc;
}

small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    line-height: 12px;
}

pre, code, xmp {
	font-family: "Courier new", "andale mono", "monotype.com", monospace;
	font-size: 12px;
}

tt {
	font-family: "Lucida console", "Lucida", "Courier new", monospace;
	font-size: 11px;
    color: #3654a5;
    line-height: 14px;
}

.newsDate {
	font-size: 85%;
	font-style: italic;
	color: #6666cc;
}

a.menuWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
}

a.menuBlack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

a.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

.sidebar {
	font-size: 11px;
}

pre.code {
	background-color: #f0f0f0;
}

h1 {
	font-family: arial,helvetica,sans-serif;
	font-size: 140%;
	font-weight: bold;
	color: #000066;
}

h2 {
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000066;
}

dt,h3 {
	font-family: arial,helvetica,sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: #000066;
}

h4 {
	font-family: arial,helvetica,sans-serif;
	font-size: 90%;
	font-weight: bold;
	color: #000066;
	padding-top: 0px;
	padding-bottom: 0px;
}

blockquote {
	margin-left: 12px;
}

.tableTitle {
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
}

.tableExtras {
	font-family: arial,helvetica,sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

input {
	font-family: arial,helvetica,sans-serif;
}

textarea {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
}

input.small, select.small {
	font-family: arial,helvetica,sans-serif;
	font-size: 10px;
}

textarea.small {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	font-size: 10px;
}

.programlisting {
	display: block;
	width: 100%;
	background-color: #E0E0E0
}
