<?php
/* This file is part of the XP framework
 *
 * $Id$
 */
  uses(
    'util.cmd.Command'
  );

  /**
   * (Insert class' description here)
   *
   * @ext      extension
   * @see      reference
   * @purpose  purpose
   */
  class <Class> extends Command {

    /**
     * Main runner method
     *
     */
    public function run() {
      
    }
  }
?>
