/* Layout stylesheet for XP framework website
 *
 * $Id$
 */

@import url("/common/style/layout.css");

body {
  border-color: #c17a0b;
  background-color: #e58c00;
}
div#top {
  background-image: url(/image/logo.png);
}
div#search {
  background-color: #fbd477;
  border-color: #cf960f;
}
div#menu li a {
  background-color: #a4997f;
  background-image: url(/image/bg_topmenu.gif);
  color: #611b05;
  border-right-color: #8e7661;
}
div#search input {
  background-color: #ffeec4;
  border-color: #a4997f;
}
h1 {
  color: #912909;
}
h2 {
  color: #3165c5;
  border-bottom: 1px solid #3165c5;
}
h2 a {
  color: #3165c5;
}
a {
  color: #912909;
}
div#footer {
  background-color: #fbd477;
  border-color: #d2b060;
}
div#footer a {
  color: #912909;
}

/* Pager */
.pager {
  text-align: right;
  width: 100%;
  font: bold 32px "Lucida Grande", "Trebuchet MS", arial;
  margin: 10px;
}
.pagerfalse {
  color: #666666;
}
.pager a {
  text-decoration: none;
}
