/* Layout stylesheet for XP framework website
 *
 * $Id$
 */

@import url("/common/style/layout.css");

body {
  border-color: #7e9a7c;
  background-color: #065c00;
}
div#top {
  background-image: url(/common/image/logo.png);
}
div#search {
  background-color: #a3d0a0;
  border-color: #7e9a7c;
}
div#search input {
  background-color: #dff4dd;
  border-color: #7e9a7c;
}
div#menu li a {
  background-color: #dff4dd;
  background-image: url(/common/image/bg_topmenu.gif);
  color: #1e441b;
  border-right-color: #6f946c;
}
h1 {
  color: #41a139;
}
h2 {
  color: #3165c5;
  border-bottom: 1px solid #3165c5;
}
h2 a {
  color: #3165c5;
}
a {
  color: #43a016;
}
div#footer {
  background-color: #a3d0a0;
  border-color: #7e9a7c;
}
div#footer a {
  color: #004926;
}
