/* Stylesheet for xp website (resources)
 *
 * $Id$
 */

td, p, ul { 
  font: 13px "Tahoma"; 
  line-height: 17px;
}
h1 { 
  font: bold 19px "Georgia"; 
}
h2 { 
  font: bold 17px "Georgia"; 
}
h3 { 
  font: bold 14px "Georgia";
  border-bottom: 1px solid #9f7912;  
}
h4 { 
  font: bold 14px "Georgia"; 
}
em { 
  font: 13px "Georgia"; 
}
a { 
  color: #bc8501; 
}
small {
  font: 13px "Georgia"; 
}
quote {
  color: #c9a54f;
}
ul {
  list-style-type: square;
  list-style-image: url(image/li.gif);
  line-height: 16px;
}
td.navactive { 
  padding-left: 8px; 
  padding-right: 8px; 
  background-color: #9f7912; 
  border-top: 1px solid #9f7912; 
  border-bottom: 1px solid #9f7912; 
}
td.nav { 
  padding-left: 8px; 
  padding-right: 8px; 
  background-color: #ffe8b0; 
  border-top: 1px solid #9f7912; 
  border-bottom: 1px solid #9f7912; 
}
a.navactive { 
  font: bold 11px "Tahoma"; color: white; 
}
a.nav { 
  font: bold 11px "Tahoma"; color: black; 
}
input.search { 
  height: 18px; 
  border: 1px solid #000099; 
}
h4.context { 
  font: bold 14px "Georgia"; 
  text-align: right; 
  border-bottom: 1px solid #666666; 
}
ul.context {
  padding-left: 22px;
}
table.footer {
  border-top: 1px solid #9f7912;
}
table.intro {
  border: 1px solid #9f7912;
  background-image: url(image/bg_striped.gif);
}
ul.intro {
  font: bold 13px "Tahoma";
  list-style-image: url(image/dot.gif);
  line-height: 18px;
}
