/* Layout stylesheet for XP websites
 *
 * $Id$
 */

body {
  font: 13px "Trebuchet MS", "Arial", sans-serif;
  border-right: 1px solid;
  border-left: 1px solid;
  margin: 0px 30px 0px 30px;
}

/* {{{ Headlines */
h1 {
  font: 20px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1px;
  color: #41a139;
}
h2 {
  font: bold 15px "Lucida Grande", "Trebuchet MS", arial;
  letter-spacing: 2px;
  font-variant: small-caps;
  margin-bottom: 1px;
}
h2 a {
  text-decoration: none;
  background: url(image/arrow.png);
  background-position: right center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
h3 {
  font: bold 13px "Trebuchet MS", "Arial", sans-serif;
  margin-bottom: 1px;
}
h3 a {
  background: url(image/arrow.png);
  background-position: right center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
/* }}} */

/* {{{ Text */
p, ul, ol, em {
  font: 13px "Trebuchet MS", "Arial", sans-serif;
}
/* }}} */

a {
}

/* {{{ Form elements */
form {
  margin: 0px;
}

input {
  border: 1px solid black;
}
/* }}} */

/* {{{ Search */
div#search {
  text-align: right;
  padding: 1px;
  border-bottom: 1px solid;
  font: 11px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
}

div#search input {
  height: 13px;
}
/* }}} */

/* {{{ Logo */
div#top {
  background: white no-repeat top left;
  height: 60px;
}
/* }}} */

/* {{{ Top menu bar */
div#menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white url(image/bg_topmenu_w.gif) repeat-x top left;
  border-top: 1px solid #002372;
  border-bottom: 2px solid #88929a;
}

div#menu ul {
  margin: 0 0 11px 0;
  padding: 0;
}

div#menu li {
  list-style: none;
  float: left;
}

div#menu li a {
  padding: 5px 8px;
  float: left;
  display: block;
  font-weight: bold;
  text-decoration: none;

  background: #dff4dd url(image/bg_topmenu.gif) repeat-x top left;
  border-right: 1px solid;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

div#menu ul li#active a {
  background: #29b2e6 url(image/bg_topmenu_selected.gif) repeat-x top left;
  color: white;
  border-right: 1px solid #297de6;
  border-top: 1px solid #dee6ff;
  border-left: 1px solid #9cc2f6;
}
/* }}} */

table.columned ul {
  list-style-type: square;
  list-style-image: url(image/li.gif);
  line-height: 18px;
}

/* {{{ Main Content */
table#main {
  background-color: #efefef;
  width: 100%;
}
table#main td#context {
  width: 180px;
  vertical-align: top;
  font: 12px "Lucida Grande", "Trebuchet MS", arial;
}
table#main td#context h3 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 1px;
  border-bottom: 1px solid #444444;
}
table#main td#context h3 a {
  background: none;
  padding-right: 0;
  text-decoration: none;
}
table#main td#content {
  vertical-align: top;
  background-color: white;
  padding: 10px 15px 20px 15px;
  height: 400px;
  line-height: 1.6em;
}

acronym {
  border-bottom: 1px dotted #666666;
}
em {
  color: #666666;
}
blockquote {
  margin: 10px 10px 0px 10px;
  padding-left: 10px;
  color: #666666;
  background: url(image/quotes.png);
  background-position: left top; 
  background-repeat: no-repeat;
}
/* }}} */

.apidoc {
  font: 13px "Trebuchet MS", "Arial", sans-serif;
}
.apidoc h1 {
  font: bold 13px "Trebuchet MS", "Arial", sans-serif;
  margin-bottom: 3px;
  color: #41a139;
  border-bottom: 1px solid #41a139;
}
.apidoc h2 {
  font: bold 13px "Trebuchet MS", "Arial", sans-serif;
  color: black;
  margin-bottom: 1px;
}
.apidoc h3 {
  font: bold 13px "Trebuchet MS", "Arial", sans-serif;
  color: black;
  margin-bottom: 1px;
}
.apidoc p {
  margin-bottom: 0px;
  margin-top: 0px;
}

/* {{{ Syntax */
pre {
  font: 12px "Courier New", courier;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-bottom: 1em;
  border: 1px solid #cccccc;
  border-left: 3px solid #cccccc;
  white-space: pre;
}
pre.code .keyword {
  color: #990000;
  font-weight: bold;
}
pre.code .variable {
  color: #000099;
  font-weight: bold;
}
pre.code .modifier {
  color: #444444;
  font-weight: bold;
}
pre.code .number {
  color: #bc7c00;
}
pre.code .bracket {
  color: #a90000;
}
pre.code .string {
  color: #0000a9;
}
pre.code .comment {
  color: #888888;
}
/* }}} */


/* {{{ Footer */
div#footer {
  padding: 1px;
  border-top: 1px solid;
  font: 11px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  text-align: right;
}

div#footer a {
}
/* }}} */
