/* Layout stylesheet for XP framework website
 *
 * $Id$
 */

@import url("../common/layout.css");

body {
  border-color: #7918a6;
  background-color: #510774;
}
div#top {
  background-image: url(image/logo.png);
}
div#search {
  background-color: #ddacf3;
  border-color: #b978d7;
}
div#menu li a {
  background-color: #a4997f;
  background-image: url(image/bg_topmenu.gif);
  color: #570074;
  border-right-color: #8e7661;
}
div#search input {
  background-color: #f8e8fd;
  border-color: #aa89b5;
}
h1 {
  color: #7500ac;
}
h2 {
  color: #3165c5;
  border-bottom: 1px solid #3165c5;
}
h2 a {
  color: #3165c5;
}
a {
  color: #7500ac;
}
div#footer {
  background-color: #ddacf3;
  border-color: #b978d7;
}
div#footer a {
  color: #570074;
}
