/* Layout stylesheet for XP framework website
 *
 * $Id$
 */

@import url("/common/style/layout.css");

body {
  border-color: #520303;
  background-color: #520303;
}
div#top {
  background-image: url(/common/image/forge/logo.png);
}
div#search {
  background-color: #d99eac;
  border-color: #b16e63;
}
div#menu li a {
  background-color: #e5acb6;
  background-image: url(/common/image/forge/bg_topmenu.gif);
  color: #6d042e;
  border-right-color: #8f99ab;
}
div#search input {
  background-color: #fbe4e3;
  border-color: #b16e63;
}
div#menu ul li#active a {
  background-color: #617750;
  background-image: url(/common/image/forge/bg_topmenu_selected.gif);
  border-right-color: #a2c19d;
  border-top-color: #e1ffde;
  border-left-color: #c7e8c2;
}
h1 {
  color: #872a40;
}
h2 {
  color: #3d7e4e;
  border-bottom: 1px solid #3d7e4e;
}
h2 a {
  color: #3165c5;
}
a {
  color: #710303;
}
div#footer {
  background-color: #d2a7a7;
  border-color: #b16e63;
}
div#footer a {
  color: #a60725;
}
