/* Layout stylesheet for XP framework website
 *
 * $Id$
 */

@import url("/common/style/layout.css");

body {
  border-color: #7e9a7c;
  background-color: #065c00;
}
div#top {
  background-image: url(/common/image/logo.png);
}
div#search {
  background-color: #a3d0a0;
  border-color: #7e9a7c;
}
div#search input {
  background-color: #dff4dd;
  border-color: #7e9a7c;
}
div#menu li a {
  background-color: #dff4dd;
  background-image: url(/common/image/bg_topmenu.gif);
  color: #1e441b;
  border-right-color: #6f946c;
}
h1 {
  color: #41a139;
}
h2 {
  color: #3165c5;
  border-bottom: 1px solid #3165c5;
}
h2 a {
  color: #3165c5;
}
a {
  color: #43a016;
}
div#footer {
  background-color: #a3d0a0;
  border-color: #7e9a7c;
}
div#footer a {
  color: #004926;
}

/* Pager */
.pager {
  text-align: right;
  width: 100%;
  font: bold 32px "Lucida Grande", "Trebuchet MS", arial;
  margin: 10px;
}
.pagerfalse {
  color: #666666;
}
.pager a {
  text-decoration: none;
}

/* Apidocs */
.apidoc a.class {
  background: url(/common/image/arrow.png);
  background-position: right center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
.apidoc h1 {
  font: bold 15px "Lucida Grande", "Trebuchet MS", arial;
  letter-spacing: 2px;
  margin-bottom: 1px;
}
.apidoc p, .apidoc li {
  color: #444444;
}
.annotations {
  font-family: "Lucida console", "Lucida", "Courier new", monospace;
  color: #3165c5;
  margin: 0px;
}

pre {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}
