/* Layout stylesheet for XP websites
 *
 * $Id$
 */

body {
  font: 13px "Trebuchet MS", "Arial", sans-serif;
  border-right: 1px solid;
  border-left: 1px solid;
  margin: 0px 30px 0px 30px;
}

/* {{{ Headlines */
h1 {
  font: 20px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  letter-spacing: 2px;
  margin-top: 4px;
  margin-bottom: 1px;
  color: #41a139;
}
h2 {
  font: bold 15px "Lucida Grande", "Trebuchet MS", arial;
  letter-spacing: 2px;
  font-variant: small-caps;
  margin-top: 4px;
  margin-bottom: 1px;
}
h2 a {
  text-decoration: none;
  background: url(/common/image/arrow.png);
  background-position: right center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
h3 {
  font: bold 13px "Trebuchet MS", "Arial", sans-serif;
  margin-top: 1px;
  margin-bottom: 1px;
}
h3 a {
  background: url(/common/image/arrow.png);
  background-position: right center; 
  background-repeat: no-repeat;
  padding-right: 20px;
}
h4 { 
  font: bold 13px "Trebuchet MS", "Arial", sans-serif; 
  margin-top: 0px; 
}

p, td {
  font: 13px "Lucida Grande", "Trebuchet MS", arial;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}
/* }}} */

a {
}

/* {{{ Form elements */
form {
  margin: 0px;
}

input {
  border: 1px solid black;
}

fieldset {
  margin-top: 20px;
  padding: 8px;
}

legend {
  font: bold 13px "Trebuchet MS", "Arial", sans-serif;
  color: #3165c5;
}

fieldset.summary {
  border: none;
  border-top: 1px solid #cccccc;
  padding-top: 4px;
  background: url(/common/image/bg_summary.png) repeat-x;
}

fieldset.summary h3 {
  color: #504646;
}

fieldset.summary h4 {
  margin-top: 8px;
  margin-bottom: 2px;
}

fieldset.summary ul {
  margin-left: 18px;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

fieldset.warning {
  border: none;
  border-top: 1px solid #ffa800;
  background: url(/common/image/bg_warning.png) repeat-x;
}

fieldset.warning p {
  background: url(/common/image/warning.png) 4px 4px no-repeat;
  padding-left: 48px;
}

fieldset.hint {
  border: none;
  border-top: 1px solid #abb4d2;
  background: url(/common/image/bg_hint.png) repeat-x;
}

fieldset.hint p {
  background: url(/common/image/hint.png) 4px 4px no-repeat;
  padding-left: 48px;
}

fieldset.hint a {
  color: #001f83;
}

fieldset.warning em {
  color: #963817;
  font-weight: bold;
}

/* }}} */

/* {{{ Logo */
div#top {
  background: white no-repeat top left;
  height: 60px;
}
/* }}} */

/* {{{ Sites bar */
div#sites {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  height: 24px;
  border: 1px solid white;
  border-top: 1px solid #efefef;
}

div#sites ul {
  margin: 0 0 11px 0;
  padding: 0;
}

div#sites li {
  list-style: none;
  float: left;
}

div#sites li a {
  padding: 4px 4px;
  float: left;
  display: block;
  color: #444444;
  font: 11px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  border-right: 1px solid #cccccc;
}

div#sites li.active {
  background-color: white;
  text-decoration: none;
}

div#sites li.active a {
  text-decoration: none;
}

div#sites li#search {
  float: right;
  padding: 1px;
  font: 11px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
}

div#sites li#search input {
  height: 18px;
  font: 11px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  border: 1px solid #cccccc;
}
/* }}} */

/* {{{ Top menu bar */
div#menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background: white url(/common/image/bg_topmenu_w.gif) repeat-x top left;
  border-top: 1px solid #002372;
  border-bottom: 2px solid #88929a;
}

div#menu ul {
  margin: 0 0 11px 0;
  padding: 0;
}

div#menu li {
  list-style: none;
  float: left;
}

div#menu li a {
  padding: 5px 8px;
  float: left;
  display: block;
  font-weight: bold;
  text-decoration: none;

  border-right: 1px solid;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

div#menu ul li#select a {
  background: #dff4dd url(/common/image/bg_topmenu_w.gif) repeat-x top left;
  border-right: 1px solid;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

div#menu ul li#active a {
  background: #29b2e6 url(/common/image/bg_topmenu_selected.gif) repeat-x top left;
  color: white;
  border-right: 1px solid #297de6;
  border-top: 1px solid #dee6ff;
  border-left: 1px solid #9cc2f6;
}
/* }}} */

/* {{{ Breadcrumb */
div#breadcrumb {
  background: url(/common/image/breadcrumb.png) no-repeat 0px 2px;
  padding-left: 20px;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 4px;
}
div#breadcrumb a {
  color: black;
}
/* }}} */

/* {{{ Dir */
table.dir {
  width: 100%;
}

table.dir td {
  padding: 2px;
}

table.dir tr.row1 {
  background-color: #efefef;
}
/* }}} */

table.columned ul {
  list-style-type: square;
  list-style-image: url(/common/image/li.gif);
  line-height: 18px;
}

table.columned td#left p {
  padding-right: 10px;
}

/* {{{ Main Content */
table#main {
  background-color: #efefef;
  width: 100%;
}
table#main td#context {
  width: 180px;
  vertical-align: top;
  font: 12px "Lucida Grande", "Trebuchet MS", arial;
}
table#main td#context p, table#main td#context ul li {
  font: 12px "Lucida Grande", "Trebuchet MS", arial;
}
table#main td#context h3 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 1px;
  border-bottom: 1px solid #444444;
}
table#main td#context h3 a {
  background: none;
  padding-right: 0;
  text-decoration: none;
}
table#main td#content {
  vertical-align: top;
  background-color: white;
  padding: 10px 15px 20px 15px;
  height: 400px;
}
#content ul {
  list-style-type: square;
  list-style-image: url(/common/image/li.gif);
  line-height: 18px;
  margin-top: 6px;
  margin-bottom: 10px;
}
/* }}} */

/* {{{ Common elements */
hr { 
  border: 0; background-color: #cccccc; height: 1px; 
}
acronym {
  border-bottom: 1px dotted #666666;
}
em {
  color: #666666;
}
blockquote {
  margin: 10px 10px 0px 10px;
  padding-left: 10px;
  color: #666666;
  background: url(/common/image/quotes.png);
  background-position: left top; 
  background-repeat: no-repeat;
}
tt {
  font: 12px "Lucida Console", "Monaco", courier, fixed, monospace;
}
pre {
  font: 12px "Lucida Console", "Monaco", courier, fixed, monospace;
  line-height: 18px;
  margin-bottom: 12px;
  margin-top: 2px;
  border-left: 2px solid #cccccc;
}
/* }}} */

/* {{{ Syntax */
pre.code {
  font: 12px "Courier New", courier;
}
pre.code .keyword {
  color: #990000;
  font-weight: bold;
}
pre.code .modifier {
  color: #666666;
  font-weight: bold;
}
pre.code .variable {
  color: #000099;
  font-weight: bold;
}
pre.code .bracket {
  color: #a90000;
}
pre.code .string {
  color: #0000a9;
}
pre.code .number {
  color: #00a000;
}
pre.code .comment {
  color: #666666;
}
pre.code .annotation {
  color: #3165c5;
}
/* }}} */


/* {{{ Footer */
div#footer {
  padding: 1px;
  border-top: 1px solid;
  font: 11px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  text-align: right;
  padding-right: 10px;
}

div#footer a {
}
/* }}} */
