/* Layout stylesheet
 *
 * $Id$
 */

/* {{{ Main layout */
body {
  font: 13px "Trebuchet MS", "Arial", sans-serif;
  margin: 10px 30px 0px 30px;
  background-color: #325993;
  text-align: center;
}

div#top, div#main, div#footer {
  text-align: left;
  background-color: white;
  width: 90%;
  padding: 10px;
  margin: 0px auto;
}

div#main {
  background: white url(/border-top.png) repeat-x top;
  height: 70%;
  min-height: 70%;
}

/* }}} */

/* {{{ Headlines */
h1 {
  font: bold 32px "Verdana", "Arial", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1px;
  color: #41a139;
}
h2 {
  font: 20px "Lucida Grande", "Trebuchet MS", "Arial", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1px;
  color: #41a139;
}
/* }}} */

/* {{{ Form elements */
form {
  margin: 0px;
}

table.facade {
  border: 1px solid #cccccc;
}
table.facade th {
  background-color: #297de6;
  color: white;
  font: bold 13px "Lucida Grande", "Trebuchet MS", arial;
}
table.facade td {
  font: 13px "Lucida Grande", "Trebuchet MS", arial;
}
table.facade tr.seq0 {
  background-color: #efefef;
}

table.columned ul {
  list-style-type: square;
  list-style-image: url(image/li.gif);
  line-height: 18px;
}

table.form {
  border: 1px solid black;
}
table.form th {
  background-color: #297de6;
  color: white;
  font: bold 13px "Lucida Grande", "Trebuchet MS", arial;
}
table.form td {
  font: 13px "Lucida Grande", "Trebuchet MS", arial;
}
table.form td label {
  font: bold 13px "Lucida Grande", "Trebuchet MS", arial;
}

